In [105]:
%reload_ext autoreload
%autoreload 2
from HotpotFund import *
hotpot_fund=HotpotFund()

In [56]:
hotpot_fund.start_fund()

Select the index:
0:Study
1:Transportation Logistics:Study
2:CIO Planspiel:Study
3:Coding
4
Type the name of label Query Optimization
Type the parent index of label 0

In [57]:
hotpot_fund.stop_fund()

Spend 00:20:09 on Query Optimization

In [106]:
hotpot_fund.show_records()

         date                name      time
0  2017.11.20       CIO Planspiel  00:00:29
1  2017.11.21              Coding  00:19:39
2  2017.11.21  Query Optimization  00:20:09